<div class="aboutBoxGrid">
  <div class="title">
    About me
  </div>
  <div class="content con1">
    Junior .NET Developer at GFI
  </div>
  <div class="content con2">
    IT student at Poznań University Of Technology, passionate of web development. Currently member of put .NET group.
  </div>
  <div class="content con3">
    Intrested in cardistry, photography and freestyle.
  </div>
  <div class="content con4">
    Developer Story:
  </div>
  <div class="content con5">
    <a href="https://stackoverflow.com/story/wolix" target="_blank" class="developerStory">
      <img src="https://i.imgur.com/hdCgM5O.png" alt="My developer story" class="developerStory" />
    </a>
  </div>
  <div class="empty">
  </div>
  <div class="imageContainer">
    <img src="assets/img/about/about.png" alt="Image of me" class="image" />
  </div>


</div>
