.aboutBoxGrid {
  display: grid;
  margin: 20px;
  grid-template-areas:
    "title"
    "content1"
    "content2"
    "content3"
    "content4"
    "content5"
    "image";
  background-color: #fff;
}

@media (min-width: 1150px) {
  .aboutBoxGrid {
    display: grid;
    margin: 20px;

    grid-template-columns: minmax(400px, auto) minmax(300px, auto);
    grid-auto-rows: auto auto auto auto;
    grid-template-areas:
      "title title"
      "content1 image"
      "content2 image"
      "content3 image"
      "content4 image"
      "content5 image";
    color: #444;
  }
}

.title{
  grid-area: title;
  padding: 20px;
  background-color: #606777;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.6em;
  font-family: Montserrat;
  border: 1px solid #fff;
}


.content{

  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #606777;
  font-size: 1em;
  color: white;
  border: 1px solid #fff;
}

@media (max-width: 1149px) {
  .content {
    margin-right: 0px;
  }
}
.con1 {
  grid-area: content1;
}
.con2 {
  grid-area: content2;
}
.con3 {
  grid-area: content3;
}
.con4 {
  grid-area: content4;
}
.con5 {
  grid-area: content5;
}

.developerStory{
  width: 100%;
  opacity: 1;
}
.developerStory :hover{
  width: 100%;
  opacity: 0.8;
}

@media (max-width: 1149px) {
  .imageContainer {
    grid-area: image;
    margin-top: 20px;
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .imageContainer {
    grid-area: image;
    margin-top: 20px;

  }
}
@media (max-width: 1149px) {
  .image {
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .image {
    max-width:100%;
    max-height:100%;
    text-align: right;
    /*text-align: center;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*margin-top: 20px;*/
    /*height: 100%;*/
    /*min-width: 10vw;*/
  }
}

/*.empty{*/
  /*grid-area: empty;*/
  /*height: 90vh;*/
/*}*/
