<div class="aboutBoxGrid">
  <div class="title">
    About me
  </div>
    <div class="content con1">
      IT student at Poznań University Of Technology, passionate of web development. Currently member of put .NET group. Intrested in cardistry, photography and freestyle.
    </div>
    <div class="content con2">
      Developer Story:
    </div>
    <div class="content con3">
      <a href="https://stackoverflow.com/story/wolix" target="_blank" class="developerStory">
        <img src="https://i.imgur.com/hdCgM5O.png" class="developerStory" />
      </a>
    </div>
  <div class="empty">
  </div>
    <img src="assets/img/img.jpg" alt="image" class="image">

</div>
