<div class="repoBoxGrid"  >
  <div *ngFor="let repo of repos$" >
    <div class="repoBox">
      <div class="title">
        <a href="{{ repo['html_url'] }}" target="_blank">{{ repo['name'] }}</a>
      </div>
      <div class="content">
        <div class="description">{{ repo['description'] }}</div>
        <div class="readMore"><a routerLink="/projects/{{repo['name']}}">Read More</a></div>
        <div class="language">{{ repo['language'] }}</div>
      </div>
    </div>
  </div>
  <!--<div class="repoBox">-->
    <!--<div class="title">-->
      <!--<a href="https://github.com/wojtek-rak/Pong" target="_blank">Pong</a>-->
    <!--</div>-->
    <!--<div class="letsPlay">-->
      <!--Let's Play-->
    <!--</div>-->
  <!--</div>-->
</div>
<!--li *ngFor="let repo of repos$">
  <a routerLink="/details/{{repo.id}}">{{ repo.name }}</a>

  <ul>
    <li>{{ repo.language }}</li>
    <li>{{ repo.language }}</li>
    <li><a href="{{ repo.html_url }}">{{ repo.html_url }}</a></li>
  </ul>
</li-->
