<div class="repoBoxGrid"  >
  <div *ngFor="let repo of repos$" >
    <div class="repoBox">
      <div class="title">
        <a href="{{ repo['html_url'] }}" target="_blank">
          <h3>{{ repo['name'] }}</h3>
        </a>
      </div>
      <div class="content">
        <div class="description">{{ repo['description'] }}</div>
        <div class="readMore"><a routerLink="/projects/{{repo['name']}}">Read More</a></div>
        <div class="language">{{ repo['language'] }}</div>
      </div>
    </div>
  </div>
  <div class="repoBox">
    <div class="title">
      <a href="https://github.com/wojtek-rak/Pong" target="_blank">Pong</a>
  </div>

      <a class="letsPlay" href="https://wojciechrak.com/Pong" target="_blank">
        <div class="buttonDesc">
          <a class="title" style="text-decoration:none">
          <i class="material-icons">videogame_asset</i>
          &nbsp;
          Let's Play
          &nbsp;
          <i class="material-icons">videogame_asset</i>
          </a>
        </div>
      </a>

  </div>
</div>
<!--li *ngFor="let repo of repos$">
  <a routerLink="/details/{{repo.id}}">{{ repo.name }}</a>

  <ul>
    <li>{{ repo.language }}</li>
    <li>{{ repo.language }}</li>
    <li><a href="{{ repo.html_url }}">{{ repo.html_url }}</a></li>
  </ul>
</li-->

