@media (max-width: 1150px) {
  .repoBoxGrid {
    display: grid;
    grid-gap: 10px;
    border-radius: 50px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #fff;
    color: #ad2717;
    /*transition: all 1s;*/
    /*animation: 0.7s curtain cubic-bezier(.86,0,.07,1) 0.1s both;*/
  }
}
/*
@keyframes curtain {
  0% {
    grid-gap: 30vw;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  50% {
    grid-gap: 30vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  100% {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}*/



@media (min-width: 1150px) {
  .repoBoxGrid {
    display: grid;
    grid-gap: 10px;
    border-radius: 50px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: #fff;
    color: #ad2717;
    /*animation: 0.7s curtain cubic-bezier(.86,0,.07,1) 0.1s both;*/
  }/*
  @keyframes curtain {
    0% {
      grid-gap: 50vw;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    50% {
      grid-gap: 50vw;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    100% {
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }*/

}
.title{
  text-align: center;
}
.title a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.repoBox{
  display: grid;
  background-color: #606777;
  height: 150px;

  padding: 20px;
  color: #fff;
  border: 1px solid #fff;
}
.content{
  position: relative;
}
.description{
  font-size: 16px;
}
.readMore a{
  color: #37c3ff;
  text-decoration: none;
  font-size: 14px;
}
.language{
  position: absolute;
  bottom: 0;
}
.game{
  /*position: absolute;*/
  margin-bottom: 0px;
}
.letsPlay{
  text-decoration: none;
}
.letsPlay:hover{
  background-color: #576170;
  color: #ebebeb;
  text-decoration: none;
}
.buttonDesc{
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
