.title {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.6em;
  font-family: Montserrat;
}
.informationsBox{
  margin-left: 20px;
  margin-right: 50%;
  padding: 20px;
  background-color: #606777;
  color: white;

  border: 1px solid #fff;
}
.informations{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1em;
}
@media (max-width: 625px) {
  .informations{
    font-size: 15px;
  }
}

.titleBox{
  margin: 20px;
  padding: 20px;
  background-color: #606777;
  color: white;

  border: 1px solid #fff;
}
.icons{
  margin: 20px;
  width: 100%;
  height: 100%;
}
.fa_with_bg{
  position: relative;
}


.icon{
  margin: 10px;
  color: #383939;
  /*background-color: #7a7b7b;
  border-style: solid;
  border-width: 1px;*/
}
.icon:hover{
  color: #242525;
}
