<div class="contactBoxGrid">
  <div class="titleBox">
    <div class="title">
      Contact
    </div>
  </div>

  <div class="informationsBox">
    <div class="informations">
      E-mail: rak.wojtek@wp.pl
    </div>
  </div>

  <div class="icons">
    <a href="https://github.com/wojtek-rak"target="_blank" class="icon">
      <i class="fab fa-3x fa-github-square fa_with_bg" ></i>
    </a>
    <a href="https://www.linkedin.com/in/wojciechrak/" target="_blank" class="icon" >
      <i class="fab fa-3x fa_with_bg  fa-linkedin"></i>
    </a>
    <a href="https://www.facebook.com/rak.wojtek" target="_blank" class="icon">
      <i class="fab fa-3x fa_with_bg fa-facebook "></i>
    </a>
    <a href="https://twitter.com/WojciechR4k/" target="_blank" class="icon">
      <i class="fab fa-3x fa_with_bg  fa-twitter-square"></i>
    </a>
    <a href="https://www.instagram.com/wojciech.r4k/" target="_blank" class="icon">
      <i class="fab fa-3x fa_with_bg  fa-instagram"></i>
    </a>

  </div>


</div>
