*{
  font-family: Open Sans;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(400px, auto);
  grid-auto-rows: 200px 64px 400px auto auto;/*minmax(100px, auto);*/
  grid-template-areas:
    "title"
    "header"
    "content"
    "rightbar"
    "leftbar";
  background-color: #fff;
}

@media (min-width: 1150px) {
  .wrapper {
    display: grid;
    margin: auto;
    height: auto;
    min-height: 101%;
    background-color: #fff;
    grid-template-columns: 250px minmax(650px, auto) 250px;
    grid-auto-rows: 200px 64px minmax(400px, auto);/*minmax(100px, auto);*/
    grid-template-areas:
      "leftbar  title    rightbar "
      "leftbar  header    rightbar "
      "leftbar  content  rightbar";

    color: #444;
  }
}
.title{
  grid-area: title;
  padding: 20px;
}
.title h1{
  font-size: 50px;
  font-family: Montserrat;
  letter-spacing: 2px;
  color: #606777;
  position: relative;
  margin-top: 100px;
  line-height: 0px;
  font-weight: 300;

}
.title h2{
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 2px;
  color: #606777;
  line-height: 30px;
  margin-left: 10px;

}
.header {
  display: grid;
  grid-area: header;
  background: #7a7b7b;
  height: 100%;
  position: sticky;
  top: 0px;
  z-index: 16777271;
}



.rightbar{
  position: relative;

  background: #383939;
  height: 100%;
}
.leftbar{
  position: relative;
  background: #383939;
  height: 100%;
  width: 100%;
}
@media (max-width: 1150px) {
  .rightbar {
    height: 0%;
    width: 0%;
  }
  .leftbar {
    height: 0%;
    width: 0%;
  }
}
@media (min-width: 1150px) {
  .rightbar {
    grid-area: rightbar;
  }
  .leftbar {
    grid-area: leftbar;
  }
}
.content {
  display: grid;
  grid-area: content;
}
.routeContainer{
  width: 100%;
  position: relative;
}
.routeContainer>* {
  display: block;
}

.routerOutlet{
  width: 100%;
}

@media (min-width: 601px){
  .blackBG{
    height: fit-content;
  }
}

.blackBG{
  background-color: black;
}
