.header{
  display: grid;
  grid-area: header;
  grid-gap: 10px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: repeat(5,auto);
}

@media (min-width: 1150px){
  .header{
    display: grid;
    grid-area: header;
    grid-gap: 60px;
    border-radius: 50px;
    padding-left: 60px;
    padding-right: 60px;
    grid-template-columns: repeat(5,auto);
  }
}



.headerButon{
  display: grid;
  margin: auto;
  max-width: 25px;
  width: 100%;

}
a {
  color: #fff;
  padding: 20px;
  display: block;
}
a:hover{/*po najechaniu tekst zmieni kolor na czerwony*/
  background-color: #666767;
  color: #ebebeb;
}
.activated {
  background-color: #00a8ff;
}
.activated:hover{
  background-color: #009aeb;
  color: #ebebeb;
}
.home{
  margin-top: auto;
  margin-bottom: auto;
}
.about{
  margin-top: auto;
  margin-bottom: auto;
}
.gallery{
  margin-top: auto;
  margin-bottom: auto;
}
.projects{
  margin-top: auto;
  margin-bottom: auto;
}
.contact{
  margin-top: auto;
  margin-bottom: auto;
}
.material-icons{
  text-align: center;
}
@media (min-width: 1150px){
  .headerButon {
    display: grid;
    margin: auto;
    max-width: 150px;
    max-height: 25px;
    vertical-align: top;
    width: 100%;
  }

}
