<div class="header">
<!--<div class="home">-->
  <!--<a routerLink="home" [class.activated]="currentUrl == '/home'"  class="headerButon">-->
    <!--<i  class="material-icons">archive</i>-->
  <!--</a>-->
<!--</div>-->
<div class="about">
  <a routerLink="" [class.activated]="currentUrl == '/'" class="headerButon">
    <i class="material-icons">assignment_ind</i>
  </a>
</div>
<div class="gallery">
  <a routerLink="gallery" [class.activated]="currentUrl == '/gallery'" class="headerButon">
    <i class="material-icons">collections</i>
  </a>
</div>
<div class="projects">
  <a routerLink="projects" [class.activated]="currentUrl == '/projects'" class="headerButon">
    <i class="material-icons">description</i>
  </a>
</div>
<div class="contact">
  <a  routerLink="contact" [class.activated]="currentUrl == '/contact'" class="headerButon">
    <i class="material-icons">call</i>
  </a>
</div>
</div>
<!--nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">archive</i>
      </a>
    </li>
    <li>
      <a routerLink="about" [class.activated]="currentUrl == '/about'">
        <i class="material-icons">videogame_asset</i>
      </a>
    </li>
    <li>
      <a routerLink="projects" [class.activated]="currentUrl == '/projects'">
        <i class="material-icons">sentiment_satisfied_alt</i>
      </a>
    </li>
    <li>
      <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
        <i class="material-icons">message</i>
      </a>
    </li>
  </ul>
</nav-->
