
.title{
  text-align: center;
  margin-bottom: 20px;
}
.title a {
  color: white;
  text-decoration: none;
  font-size: 24px;

}

.detailsBox{
  margin: 20px;
  padding: 20px;
  background-color: #606777;
  color: white;

  padding: 20px;
  color: #fff;
  border: 1px solid #fff;
}
.content{
  padding: 20px;
  position: relative;
  color: black;
  font-size: 22px;
  background-color: white;
}
.description{
  font-size: 18px;
}
.language{
  position: absolute;
  bottom: 0;
}
